.btn-back-home{
    width: 137px;
    height: 41px;
    background: #5D5FEF;
    border-radius: 5px;
    border: none;
    margin-top: 2rem;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}